body {
  margin: 0;
  font-family: Arial;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: white;
  border-bottom: 1px solid #ddd;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: green;
}

/* HERO */
.hero {
  height: 80vh;
  background: url("https://images.unsplash.com/photo-1600185365483-26d7a4cc7519") center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.btn {
  background: green;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

/* PRODUCTS */
.products {
  display: flex;
  gap: 20px;
  padding: 40px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.card img {
  width: 200px;
}

/* ABOUT */
.about {
  padding: 50px;
}

/* CART */
#cart-items {
  padding: 20px;
}
